<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>童梦圆微型OA系统</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style/common.css}">
</head>
<body>
    <div class="top">
        <span style="font-size: 48px">某某公司OA系统</span>
        <span style="margin-left: 1300px"></span>
        &nbsp;&nbsp;
        <a href="#">登录</a>&nbsp;&nbsp;<a href="#">退出</a>
    </div>
    <div class="left">
        <ul style="font-size: 20px ;color: chartreuse">
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>
            <li>菜单1</li>

        </ul>
    </div>
    <div class="right">
        <div style="font-size: 30px;padding: 10px;">
            1111<br>
            1111<br>
            11111<br>111<br>111<br>111<br>1111<br>111<br>111<br>11<br>111<br>111<br>1111<br>11<br>11<br>111<br>11<br>1111<br>1111<br>11111<br>11<br>1111
            11111            111111111111<br>1111<br>1111111<br>111111111111111111111111111111111111111111111111111111111111111111111111111111111111111
            111111<br>111111<br>11111<br>1111111<br>111111<br>111111111111111111111111111111111111111111111111111111111111111111111111111
        </div>
    </div>
</body>
</html>